# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# ...except the GLFW file:
!platforms/osx/libglfw3.a

# Executables
*.exe
*.out
*.app

# XCode crap
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
build/

# Mac OS X
.DS_Store
